.container {
  display: flex;
  justify-content: center;
}

.game-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: aqua;
}

.mini-section {
  margin-left: 50px;
}

#mini-text {
  margin-top: 0%;
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

.hold-section {
  margin-right: 50px;
}

#hold-text {
  margin-top: 0%;
}

.hold-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.hold-grid div {
  height: 20px;
  width: 20px;
}
